@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

h1 {
	color: purple;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
	color: purple;
	font-family: 'Open Sans Condensed', sans-serif;

}

p {
	font-family: 'Montserrat', sans-serif;
}

ul {
	font-family: 'Montserrat', sans-serif;
}

.nav-bar {
	float: right;
	margin-left: 100px;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	border: 5px solid purple;
}

#main-container {
	width: 400px;
	padding: 10px;
}